@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="container">
        <h2> SportsPro Technical Support</h2>
        <p> Sports  managment software for the sport enthusiast</p>
        <h1>Admin</h1>
        <div>
            <div class="row">
                <div class="col-md-8">

                    <ul class="list-group">

                        <li class="list-group-item"><a class="text-primary">Manage Products</a></li>
                        <li class="list-group-item"><a class="text-primary"> Manage Technicians</a></li>
                        <li class="list-group-item"><a class="text-primary">Manage Customers</a></li>
                        <li class="list-group-item"><a class="text-primary">Manage Incidents</a></li>
                        <li class="list-group-item"><a class="text-primary">Manage Registations</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <h1 style=" margin-top: 10px">Technicians</h1>
        <div>
            <div class="row">
                <div class="col-md-8">

                    <ul class="list-group">

                        <li class="list-group-item"><a class="text-primary">Update Incident</a></li>
                    
                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
